
body{
    font-family: "Gabarito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    opacity: 0;
    transition:opacity 0.5s ease-in-out;
}   
body.loaded {
    opacity: 1;
}
nav{
    background-color: #800020;
    color: white;
    padding: 10px;
    min-height:10vh;
}
nav .nav-link{
    color: white;
}

body .container-fluid{
    padding: 0;
    margin-top: 0;
    background-color: #ffffff;
}
footer{
    height:10vh;
    background-color: #800020;
    color: white;
    padding: 10px;
}


.card-img-top img:hover {
    filter: brightness(70%);
    transition: filter 0.3s ease-in-out;
}
    
#carouselExample .carousel-item img {
    border-radius: 10px;
}

#smallScreenCarousel2 .carousel-item img {
    border-radius: 10px;
}

#smallScreenCarousel .carousel-item img {
    border-radius: 10px;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #800020;
    margin-bottom: 20px;
}

